<div class="post-card">
  <div class="post-header">
    <img src="assets/images/profile.jpg" class="post-profile" alt="sender" />
    <div class="post-sender-details">
      <h3 class="post-title">Clarence George</h3>
      <p class="post-job">
        Founder and CEO at Cellelio Group | Angel Investor
      </p>
      <p class="post-date">2 hours ago</p>
    </div>
  </div>
  <div class="post-body">
    <p class="post-text">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis
      earum illo ex aliquid minima dolores magni officia ipsam? Illo distinctio,
      consequuntur id commodi delectus soluta cum odit nam inventore nobis.
    </p>
    <img src="assets/images/cover.jpg" class="post-image" alt="post" />
    <div class="post-details">
        <div class="post-actions">
            <span class="post-action post-like"><i class="pi pi-thumbs-up-fill"></i></span>
            <span class="post-action post-love"><i class="pi pi-heart-fill"></i></span>
            <span class="post-action post-share"><i class="pi pi-send"></i></span>
            <p class="post-actions-text">Abhinav Mishira and 78 others</p>
        </div>
        
        <p class="post-details-text">22 comments <i class="pi pi-angle-right"></i> 40 shares</p>
    </div>
  </div>
  <div class="post-footer">
    <ul class="post-action-list">
        <li class="post-action-item">
            <a href="" class="post-action-link-special">
                <img src="assets/images/profile.jpg" class="post-action-image" alt="profile" />
                <span class="post-action-user-icon"><i class="pi pi-caret-down"></i></span>
            </a>
          </li>
        <li class="post-action-item">
          <a href="" class="post-action-link">
            <span class="post-action-icon"><i class="pi pi-thumbs-up"></i></span>
            <h3 class="post-action-title">Like</h3>
          </a>
        </li>
        <li class="post-action-item">
          <a href="" class="post-action-link">
            <span class="post-action-icon"><i class="pi pi-comment"></i></span>
            <h3 class="post-action-title">Comment</h3>
          </a>
        </li>
        <li class="post-action-item">
          <a href="" class="post-action-link">
            <span class="post-action-icon"><i class="pi pi-share-alt"></i></span>
            <h3 class="post-action-title">Share</h3>
          </a>
        </li>
        <li class="post-action-item">
            <a href="" class="post-action-link">
              <span class="post-action-icon"><i class="pi pi-send"></i></span>
              <h3 class="post-action-title">Send</h3>
            </a>
          </li>
        
      </ul>
  </div>
</div>
