<div class="sidebar-activity">

    <ul class="sidebar-list">
      <h1 class="sidebar-list-title">Recent</h1>
      <li class="sidebar-item">
        <span class="sidebar-icon"><i class="pi pi-clock"></i></span>
        <a href="" class="sidebar-link"> Web Development</a>
      </li>
      <li class="sidebar-item">
        <span class="sidebar-icon"><i class="pi pi-clock"></i></span>
        <a href="" class="sidebar-link"> User Interface</a>
      </li>
      <li class="sidebar-item">
        <span class="sidebar-icon"><i class="pi pi-clock"></i></span>
        <a href="" class="sidebar-link"> Online Learning</a>
      </li>
      <li class="sidebar-item">
        <span class="sidebar-icon"><i class="pi pi-clock"></i></span>
        <a href="" class="sidebar-link"> Learn Online</a>
      </li>
      <li class="sidebar-item">
        <span class="sidebar-icon"><i class="pi pi-clock"></i></span>
        <a href="" class="sidebar-link"> Code Better</a>
      </li>
      <li class="sidebar-item">
        <span class="sidebar-icon"><i class="pi pi-clock"></i></span>
        <a href="" class="sidebar-link"> Group Learning</a>
      </li>
    </ul>

    <ul class="sidebar-list">
      <h1 class="sidebar-list-title">Groups</h1>
      <li class="sidebar-item">
        <span class="sidebar-icon"><i class="pi pi-users"></i></span>
        <a href="" class="sidebar-link"> Web Design Group</a>
      </li>
      <li class="sidebar-item">
        <span class="sidebar-icon"><i class="pi pi-users"></i></span>
        <a href="" class="sidebar-link">HTML & CSS Learners</a>
      </li>
      <li class="sidebar-item">
        <span class="sidebar-icon"><i class="pi pi-users"></i></span>
        <a href="" class="sidebar-link">Python & JavaScript Group</a>
      </li>
      <li class="sidebar-item">
        <span class="sidebar-icon"><i class="pi pi-users"></i></span>
        <a href="" class="sidebar-link">Learn Coding Online</a>
      </li>
    </ul>

    <ul class="sidebar-list">
      <h1 class="sidebar-list-title">Hashtag</h1>
      <li class="sidebar-item">
        <span class="sidebar-icon"><i class="pi pi-hashtag"></i></span>
        <a href="" class="sidebar-link"> webdevelopment</a>
      </li>
      <li class="sidebar-item">
        <span class="sidebar-icon"><i class="pi pi-hashtag"></i></span>
        <a href="" class="sidebar-link">userinterface</a>
      </li>
      <li class="sidebar-item">
        <span class="sidebar-icon"><i class="pi pi-hashtag"></i></span>
        <a href="" class="sidebar-link">onlinelearning</a>
      </li>
    </ul>

    <div class="discover-more">
    <a href="" class="discover">Discover more</a>
    </div>
  </div>