<div class="navbar">
  <div class="navbar-left">
    <img src="assets/images/download.png" class="navbar-logo" alt="logo" />
    <div class="search-box">
      <i class="pi pi-search"></i>
      <input type="text" class="search" placeholder="Type here..." />
    </div>
  </div>
  <div class="navbar-center">
    <ul class="navbar-menu-list">
      <li class="navber-menu-item">
        <a href="" class="navbar-menu-link"><i class="pi pi-home"></i> Home</a>
      </li>
      <li class="navber-menu-item">
        <a href="" class="navbar-menu-link"
          ><i class="pi pi-user"></i> my network</a
        >
      </li>
      <li class="navber-menu-item">
        <a href="" class="navbar-menu-link"
          ><i class="pi pi-briefcase"></i> jobs</a
        >
      </li>
      <li class="navber-menu-item">
        <a href="" class="navbar-menu-link"
          ><i class="pi pi-comments"></i> messaging</a
        >
      </li>
      <li class="navber-menu-item">
        <a href="" class="navbar-menu-link"
          ><i class="pi pi-bell"></i> notifications</a
        >
      </li>
    </ul>
  </div>
  <div class="navbar-right">
    <a href="" class="account online">
      <img src="assets/images/profile.jpg" class="account-img" alt="profile" />
    </a>
  </div>
</div>
