<div class="sidebar-news">
  <div class="sidebar-news-header">
    <h3 class="sidebar-news-title">Trending News</h3>
    <span class="sidebar-news-icon"
      ><i class="pi pi-exclamation-circle"></i
    ></span>
  </div>
  <div class="sidebar-news-body">
    <div class="news">
      <a href="" class="news-title">High demand for skilled manpower</a>
      <p class="news-detail">
        <span class="news-date">1d ago</span> -
        <span class="news-reader">10,934 readers</span>
      </p>
    </div>

    <div class="news">
      <a href="" class="news-title">Careers growing horizontally too</a>
      <p class="news-detail">
        <span class="news-date">19h ago</span> -
        <span class="news-reader">1,552 readers</span>
      </p>
    </div>

    <div class="news">
        <a href="" class="news-title">Less work visa for US, more for UK</a>
        <p class="news-detail">
          <span class="news-date">1d ago</span> -
          <span class="news-reader">27,290 readers</span>
        </p>
      </div>
  
      <div class="news">
        <a href="" class="news-title">More hiring = higher confidence?</a>
        <p class="news-detail">
          <span class="news-date">18h ago</span> -
          <span class="news-reader">8,208 readers</span>
        </p>
      </div>

      <div class="news">
        <a href="" class="news-title">Gautam Adani is the world's third richest</a>
        <p class="news-detail">
          <span class="news-date">12h ago</span> -
          <span class="news-reader">4,205 readers</span>
        </p>
      </div>
  </div>
  <div class="sidebar-news-footer">
    <a href="" class="read-more">read more</a>
  </div>
</div>
