<div class="sidebar-profile-box">
    <img src="assets/images/cover.jpg" class="sidebar-cover-img" alt="cover" />
    <div class="sidebar-profile-info">
      <img
        src="assets/images/profile.jpg"
        class="sidebar-profile-img"
        alt="profile"
      />
      <h1 class="sidebar-profile-name">Orkhan Ibra</h1>
      <p class="sidebar-profile-job">Web Development as Free Agent</p>
      <ul class="sidebar-profile-list">
        <li class="sidebar-profile-item">
          Your profile views<span class="sidebar-statistic-primary">52</span>
        </li>
        <li class="sidebar-profile-item">
          Your post views<span class="sidebar-statistic-primary">810</span>
        </li>
        <li class="sidebar-profile-item">
          Your connections <span class="sidebar-statistic-primary">205</span>
        </li>
      </ul>
    </div>
    <div class="sidebar-profile-links">
      <a href="" class="sidebar-profile-link">
        <span class="sidebar-profile-link-icon"
          ><i class="pi pi-bookmark-fill"></i
        ></span>
        My Items</a
      >
      <a href="" class="sidebar-profile-link">
        <span class="sidebar-profile-link-icon jb-warning-text"
          ><i class="pi pi-star-fill"></i></span
        >Try Premium</a
      >
    </div>
  </div>