<div class="sidebar-footer">
  <ul class="sidebar-link-list">
    <li class="sidebar-link-item"><a href="" class="sidebar-link">About</a></li>
    <li class="sidebar-link-item"><a href="" class="sidebar-link">Accessibility</a></li>
    <li class="sidebar-link-item"><a href="" class="sidebar-link">Help Center</a></li>
    <li class="sidebar-link-item"><a href="" class="sidebar-link">Privacy Policy</a></li>
    <li class="sidebar-link-item"><a href="" class="sidebar-link">Advertising</a></li>
    <li class="sidebar-link-item"><a href="" class="sidebar-link">Get the App</a></li>
    <li class="sidebar-link-item"><a href="" class="sidebar-link">More</a></li>
  </ul>
  <div class="sidebar-copyright">
    <p class="sidebar-footer-text"><span class="logo-icon"><i class="pi pi-linkedin"></i></span> Linkedup © 2022. All right reserved</p>
  </div>
</div>
