@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Josefin Sans", sans-serif;
  background-color: var(--jb-bg);
}
a {
  text-decoration: none;
  transition: none;
}
ul,
ol {
  list-style: none;
}

.jb-warning-text{
  color: var(--jb-warning-text) !important;
}

.jb-sidebar-text{
  color: var(--jb-warning-text) !important;
}