<div class="sidebar-advertision">
    <p class="sidebar-advertision-text sidebar-right">Ad...</p>

    <p class="sidebar-advertision-text">Master the 5 principles of web design</p>
    <div class="sidebar-ad-images">
        <img src="assets/images/profile.jpg" class="sidebar-ad-image" alt="profile" />
        <img src="assets/images/cover.jpg" class="sidebar-ad-image" alt="profile" />
    </div>
    <p class="sidebar-advertision-text">Brand and Demand in Xiaomi</p>
    <a href="" class="sidebar-advertision-more">learn more</a>
</div>