<div class="post-create">
  <div class="post-create-input-box">
    <img src="assets/images/profile.jpg" class="post-profile" alt="profile" />
    <textarea class="post-input" placeholder="Type here..."></textarea>
  </div>
  <ul class="post-create-links">
    <li class="post-item">
      <a href="" class="post-link">
        <span class="post-icon"><i class="pi pi-camera"></i></span>
        <h3 class="post-title">Photo</h3>
      </a>
    </li>
    <li class="post-item">
      <a href="" class="post-link">
        <span class="post-icon"><i class="pi pi-video"></i></span>
        <h3 class="post-title">Video</h3>
      </a>
    </li>
    <li class="post-item">
      <a href="" class="post-link">
        <span class="post-icon"><i class="pi pi-clone"></i></span>
        <h3 class="post-title">Event</h3>
      </a>
    </li>
    <li class="post-item">
      <a href="" class="post-link post-btn">
        <h3 class="post-title">Post</h3>
      </a>
    </li>
  </ul>
</div>

<div class="post-sort">
  <hr />
 <div class="sort">
    <p class="sort-title">sort by:</p>
    <a href="" class="sort-btn">
      top <span class="sort-icon"><i class="pi pi-chevron-up"></i></span>
  </a>
 </div>
</div>
